.advantages {
    background-color: #F2F2F2;
    margin-bottom: 10px;
}
.advantages__row {
    position: relative;
}
.advantages__backgraund-img{
    position: absolute;
    bottom: 479px;
    left: -250px;
}
.advantages__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

        .advantages__text-title{
            color: #292D32;
            font-size: 50px;
            font-weight: 400;
            line-height: 50px;
            margin-bottom: 37px;
        }
        .advantages__text-subtitle{
            width: 518px;
            color:#838383;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            margin-bottom: 41px;
        }
}
.advantages__bottom{
    display: flex;
    padding-bottom: 46px;
    
}
.advantages__img {
    padding-top: 87px;
    position: relative;
    right: 80px;
}
.advantages__text {
    position: relative;
    top: 23px;
    left: -168px;
}
.advantages__card {
    position: relative;
    background: #292D32;
    width: 335px;
    height: 289px;
    margin-top: 44px;
    margin-left: -1px;
    border-radius: 18px;
    margin-right: 28px;

    &:last-child{
        margin-right: 0;
    }
}
.advantages__icon {
    padding: 15px;
    border-radius: 10px;
    background: #343A41;
    margin-top: 31px;
    margin-left: 33px;
    margin-bottom: 23px;
}
.advantages__vector-bg{
    position: absolute;
    top: 0px;
    right: 0;
}
.advantages__card-title {
    color: #FFF;
    font-family: Euclid Circular A;
    font-size: 22px;
    font-weight: 700;
    width: auto;
    margin-left: 31px;
    margin-bottom: 14px;
}
.advantages__card-subtitle {
    color: #B7B7B7;
    font-family: Euclid Circular A;
    font-size: 16px;
    font-weight: 300;
    width: 275px;
    margin-left: 31px;
}
@media (max-width: 375px) {
    .advantages__top{
        flex-direction:column ;
        margin-bottom: 200px;
    }
    .advantages__img img{
        width: 345px!important;
        height: 194px!important;
        position: relative;
        top: 286px;
        left: 136px;
    }
    .advantages__text-title{
        font-size: 30px!important;
        position: relative;
        left: 158px;
        bottom: 117px;
    }
    .advantages__text-subtitle{
        width: 336px!important;
        font-size: 15px!important;
        position: relative;
        left: 158px;
        bottom: 133px;
    }
    .catalog__btn{
        position: relative;
        left: 158px;
        bottom: 144px;
    }
    .catalog__span{
        font-size: 15px;
        position: relative;
        left: 161px;
        bottom: 145px;
    }
    .advantages__bottom{
        flex-direction: column;
        position: relative;
        bottom: 185px;
    }
    .advantages__card{
        width: 342px;
    height: 211px;
    border-radius: 10px;
    margin-bottom: -24px;
    }
    .advantages__card-title{
        color: #FFF;
        font-family: Euclid Circular A;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: relative;
        bottom: 26px;
        right: 20px;
    }
    .advantages__card-subtitle{
        color: #B7B7B7;
        font-family: Euclid Circular A;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        position: relative;
        right: 20px;
        bottom: 30px;
    }
    .advantages__icon{
        width: 49px;
        height: 48px;
        position: relative;
        right: 21px;
        bottom: 15px;
        padding: 8px;
    }
}