.contact{
    position: relative;
    margin-bottom: 177px;
    .container{
        border-radius: 20px;
        background: linear-gradient(to right, #F9F9F9 50%, #292D32 50%);
        width: 1400px;
        height: 842px;
        
    }
}
.contact__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact__left-text{
    padding-top: 100px;
    padding-left: 85px;
}
.contact__text1{
    margin-bottom: 39px;
}
.contact__text2{
    margin-bottom: 65px;
}

.contact_text-title{
    color: #292D32;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 18px;
}
.contact_text-subtitle{
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
    margin-bottom: 48px;
}
.contact__left-icon{
    display: inline-flex;
    margin-right: 14px;
    padding-left: 86px;
}
.contact__left-title{
    position: relative;
    display: inline-flex;
    color: #838383;
    font-size: 18px;
    font-weight: 400;
    line-height: 133.687%; 
    bottom: 15px;
}
.contact__left-subtitle{
    position: relative;
    color: #292D32;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    
    padding-left: 141px;
    bottom: 9px;
}
.contact__left-social{
    margin-left: 88px;
    margin-top: 53px;
}
.iphone{
    position: absolute;
    bottom: 108px;
    left: 745px;
}
.contact__right{
    position: relative;
    width: 442px;
    height: 527px;
    top: 63px;
    right: 77px;
}
.contact__right-text{
    position: relative;
    bottom: 66px;
    right: 35px;
}
.contact__right-title{
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 18px;
}
.contact__right-subtitle{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
}
.contact__right-form{
    position: relative;
    bottom: 26px;
    right: 37px;
    label{
        color: #F2F2F2;
        font-size: 18px;
        font-weight: 300;
        line-height: 133.687%;
    }
    input#name, #phone, #comment{
        background: #292D32;
        color: #FFF;
        padding-top: 5px;
        width: 434px;
        height: 60px;
        border: 1px solid #F2F2F280;
        border-top: none;
        border-radius: 20px;
    }
    
    #name{
        margin-bottom: 28px;
    }
    
    #phone{
        margin-bottom: 28px;
    }
    #comment{
        margin-bottom: 54px;
    }
    .name{
        position: relative;
        left: 25px;
        top: 15px;
        &::before{
            position:absolute;
            top:9px;
            left:91px;
            width:300px;
            border-top:1px solid #F2F2F280;
            content:"";
        }
    }
    .labelphone{
        position: relative;
        left: 29px;
        top: 15px;
        &::before{
            position:absolute;
            top:9px;
            left:151px;
            width:240px;
            border-top:1px solid #F2F2F280;
            content:"";
        }
    }
    .labelcomment{
        position: relative;
        top: 15px;
        left: 28px;
        &::before{
            position:absolute;
            top:9px;
            left:131px;
            width:260px;
            border-top:1px solid #F2F2F280;
            content:"";
        }
    }
}

.form__btn{
    left: 1px;
    position: relative;
    width: 55px;
    height: 55px;
    background-color: #33A9FF;
    color: #fff;
    border-radius: 27.5px;
    border: 0;
    margin-right: 9.3px;
    
}
.from__str{
    padding-top: 20px;
    padding-left: 2px;
}
.contact__right-span{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    align-items: center;
}
.ourcontacts{
    position:absolute;
    z-index: -1;
    bottom: -125px;
    left: 0px;
}